$navbar-hover-color: #64A19D;
$bs-body-font-family: Nunito, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;

.navbar-light .navbar-nav .nav-link:hover {
    color: $navbar-hover-color;
}

:root {
    --bs-body-font-family: #{$bs-body-font-family};
}

body {
    font-family: var(--bs-body-font-family);
}

.row {
    margin: 0;
}

label, h4 {
    font-weight: bold;
    color: dimgray;
}

.btn-close {
    border: 2px solid red;
    color: red;
    float: right;
    margin-top: 10px;
}

.bodycolre {
    background-color: #F2F2F2;
}

a h3:hover {
    color: $navbar-hover-color;
    transition: all 0.1s ease-in-out;
    transform: scale(1.01);
}

.cardhover {
    border-radius: 0;

    &:hover {
        background-color: #EEF3F3;
        transition: all 0.1s ease-in-out;
        transform: scale(1.01);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    }
}

.chart-area {
    height: 200px;
    margin: 20px auto;
}

.navbar-brand {
    font-weight: bold;
    margin-right: 50px;
    margin-left: 30px;
    color: #494141;
}

.navbar a {
    font-size: 22px;

    &:hover {
        color: $navbar-hover-color;
    }
}

.btn {
    box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
    padding: 0.8rem 1.5rem;
    font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 80%;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    border: 0;
}
