
<a class="navbar-brand" asp-action="Index" asp-controller="Home">
    @{
        if (ViewBag.LogoUrl != null)
        {
            <img src="~/pictures/@ViewBag.LogoUrl" width="40" height="40" class="d-inline-block" alt="Logo" />
        }
        else
        {
            <img src="~/img/logo.png" width="40" height="40" class="d-inline-block" alt="Logo" />
        }
        <span class="ms-2  text-opacity-75">@ViewBag.SiteName</span>
    }
</a>